p{
    color: black;
}
#i1{
    color: rgb(233, 78, 78);
}
#i2{
    color: rgb(130, 77, 12);
}
.c2{
    color: rgb(199, 199, 219);
}
#i4{
    color: brown;
}
#i5{
    color: darkgreen;
}
.c4{
    color: aliceblue;
}